/* Mobile Devices */
@media screen and (max-width:576px) {

    /* Global Styles */
    .container {
        padding: 0 25px;
    }

    /* =============
    Header Section
    ================ */
    header .container {
        flex-direction: column;
        gap: 30px;
    }

    .main-menu ul {
        flex-direction: column;
    }

    /* =============
    Banner Section
    ================ */
    #banner {
        background-image: none;
    }

    #banner .container {
        padding: 0;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-content {
        background: url('../images/Group\ 14.png');
        padding: 140px 25px;
    }

    .banner-content h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .banner-content h1 span {
        font-size: 90px;
        line-height: 100px;
    }

    /* ============
    Gamer Section
    =============== */
    #gamer {
        background: none;
        padding: 0;
    }

    .gamer {
        flex-direction: column;
    }

    .gamer-content {
        text-align: center;
    }

    /* ============
    Video Section
    =============== */
    .section-title h2 {
        line-height: 1;
    }

    .video-container {
        grid-template-columns: 1fr;
    }

    .video-image>img {
        width: 100%;
    }

    /* =====================
    Play Instantly Section
    ======================== */
    #play-instantly .container {
        flex-direction: column-reverse;
    }

    img.big {
        padding-left: 70px;
    }

    img.small {
        position: relative;
        bottom: 120px;
        margin-bottom: -120px;
        left: -8px;
        width: 50%;
    }
}

/* Tablet devices */
@media screen and (min-width:577px) and (max-width:1200px) {}